{% extends "layuot.html" %}
{% block content %}

<h2>calculadora de areas de figuras geometricas</h2>

<form method="POST">

    <input type="radio" name="figura" value="triangulo" {% if figura == 'triangulo' %}checked{% endif %}> triangulo<br>
    <input type="radio" name="figura" value="rectangulo" {% if figura == 'rectangulo' %}checked{% endif %}> rectangulo<br>
    <input type="radio" name="figura" value="circulo" {% if figura == 'circulo' %}checked{% endif %}> circulo<br>
    <input type="radio" name="figura" value="pentagono" {% if figura == 'pentagono' %}checked{% endif %}> pentagono<br><br>

    <input type="submit" name="accion" value="actualizar figura"><br><br>

    {% if figura == 'triangulo' or figura == 'rectangulo' %}
        <label>base:</label> <input type="number" step="any" name="valor1" value="{{ request.form.valor1 }}"><br>
        <label>altura:</label> <input type="number" step="any" name="valor2" value="{{ request.form.valor2 }}"><br>
    {% elif figura == 'circulo' %}
        <label>radio:</label> <input type="number" step="any" name="valor1" value="{{ request.form.valor1 }}"><br>
    {% elif figura == 'pentagono' %}
        <label>perimetro:</label> <input type="number" step="any" name="valor1" value="{{ request.form.valor1 }}"><br>
        <label>apotema:</label> <input type="number" step="any" name="valor2" value="{{ request.form.valor2 }}"><br>
    {% endif %}

    {% if figura %}
        <br><input type="submit" name="accion" value="Calcular">
    {% endif %}
</form>

{% if mensaje %}
    <p><strong>{{ mensaje }}</strong></p>
{% endif %}

{% endblock %}
